
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
}

/*убрать подчеркивание у сылок*/
.link {
    text-decoration: none;
}
/*убрать списки*/
.list {
    list-style: none;
}
/*logo*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-style {
    color: #2196F3
}
/*header nav*/
.nav {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav .link :hover, :focus {
    color: #2196F3
}
/*contacts-header*/
.contacts-header .link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #757575;
}

/*
.button {
    cursor: pointer
}
*/